footer.footer
    .container
        .footer__row
            .footer__text.footer__column
                span AOD New York
                span 2250 Lexington Avenue 
                span New York, NY 10035  - info@domaincom
            .footer__social.footer__column
                a.footer__icon(href="#")
                    img.icon-footer(src="img/svg/twitter.svg",alt="")
                a.footer__icon(href="#")
                    img.icon-footer(src="img/svg/twitter.svg",alt="")
                a.footer__icon(href="#")
                    img.icon-footer(src="img/svg/twitter.svg",alt="")
            .footer__logo.footer__column
                span Handcrafted by
                img(src="img/icons/yabo-logo.gif",alt="") 
                 
#topNubex
    span top




