header#header.header
	div.header__row
		nav.header__menu.menu
			div.menu__icon.icon-menu
				span
				span
				span
			div.menu__body
				ul.menu__list
					li
						a.menu__link(href="#generation") about us
					li
						a.menu__link(href="#slider") work
					li
						a.menu__link(href="#shop") shop
					li
						a.menu__link(href="#link") contact
	.header__logo
		a(href="#")
			img(src="img/icons/logo.gif")