.generation {
  background-color: $white;
}

.block {
  text-align: center;
  padding: 117px 0px 132px 0px;
  @media screen and (max-width: 900px) {
    padding: 50px 20px 54px 20px;
  }
  @media screen and (max-width: 600px) {
     padding: 30px 20px 54px 20px;
  }
  &__icon {
    margin: 0px 0px 31px 0px;
  }
  &__title {
    @include Text-Style-2;
    margin: 0px 0px 20px 0px;
    line-height: 1.5;
  }
  &__text {
    @include Text-Style-3;
    &_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px;
    }
  }
}
