@import "common/mixins";

.link {
  &__row {
    @include fdc();
    @include alic();
  }

  &__title {
    @include Text-Style-4;
    padding: 0px 0px 5% 0px;
  }
  &__icon {
    padding: 50px 0px 1% 0px;
  }
  &__form {
    width: 50%;
    @media screen and (max-width: 678px) {
      width: 80%;
    }
  }
}

.link-1 {
  &__body {
    @include flex();
    text-align: center;
  }

  &__title {
    @include Text-Style-4;
  }

  &__icon {
  }
  &__form {
    @include jucb();
    @include alic();
    width: 100%;
    height: 100%;
    @media screen and (max-width: 678px) {
      @include fdc();
    }

    &_input {
      // padding: 10px 0px 10px 0px;
      background-color: #826c41;
      flex: 0 1 80%;
      @media screen and (max-width: 678px) {
        width: 100%;
      }
      &:hover > span {
        background-color: #d4b584;
      }
      input {
        font-size: 18px;
        width: 100%;
        height: 100%;
        text-indent: 20px;
        padding: 15px 10px 15px 10px;
        @include anim(0.2s);
        border: 2px solid #d4b584;
        &:hover {
          background-color: $pale-teal;
        }
      }
    }
    &_submit {
      @include center();
      @include anim(0.1s);
      flex: 0 1 15%;
      margin: 0px 0px 0px 10px;
      padding: 0px 0px 0px 20px;
      @media screen and (max-width: 678px) {
        margin: 20px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
      }
      input {
        color: #ffffff;
        font-family: Lato;
        font-size: 24px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        background-color: $pale-teal;
        width: 100%;
        height: 100%;
        padding: 15px 10px 15px 10px;
        text-transform: uppercase;
        border: 2px solid #d4b584;
        @include anim(0.2s);
        &:hover {
          background-color: #2d8b67;
          font-size: 24px;
        }
      }
    }
  }

  // ----------------------------------
}
