@import "common/mixins";

.fon {
  @include flex();
  &__element {
    position: relative;
    padding: 0px 0px 50% 0px;
    &_small {
      flex: 0 1 50%;
    }
    &_large {
      flex: 0 1 50%;
    }
    &_low {
      width: 100%;
    }
    &_center {
      flex: 0 1 100%;
    }
  }

  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #64c29e63;
    @include center();
    @include anim(0.2s);
		opacity: 0;
		z-index: 2;
    &:hover {
opacity: 1;
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
z-index: 1;
  }
}

.shop {
  &__row {
    @include flex();
    flex-wrap: wrap;
  }
  &__footer {
    background-color: $charcoal-grey;
    padding: 6% 0px;

    @include center();
  }
  &__btn {
    @include center();
    width: 300px;
    height: 50px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    @include anim(0.2s);
    span {
      @include Text-Style-5;
    }
    &:hover {
      border: solid 1px rgb(177, 215, 238);
    }
  }
  @media screen and (max-width: 320px) {
    &__btn {
      width: 200px;
    }
  }
}

.column {
  flex: 0 1 33.33333%;
}

.column__vertical {
  @include flex();
  flex: 0 1 16.666666%;
  position: relative;
}

@media screen and (max-width: 1490px) {
  .column {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 960px) {
  .column {
    flex-basis: 100%;
  }
}
