

$dark-grey: #222429;
$charcoal-grey: #282f35;
$faded-red: #d24a4c;
$pale-teal: #64c29e;
$steel-grey: #848789;
$pale-red: #e74c45;
$dark-grey-two: #353738;
$warm-grey: #929292;
$slate-grey: #4d4959;
$cool-grey: #a9afb3;
$white: #f7f7f7;

// font-family-----------------------
$ff:'lato';


.black{
  background-color: black;
}

