extends common/home


block fullscreen
    include common/fullscreen
block header
    include common/header
block content
    section.content 
        include content/generation
        include content/brands
        include content/brands-rev
        include content/retro
        include content/slider
        include content/shop
        include content/mail
block footer
    include common/footer
       
        







