
section.brands
    div.brands__row
        
        div.brands__column.brands__column_b
            a.brands__item.item(href="#")
                span.item__image.ibg
                    img(src="img/left1.gif",alt="frame") 
                span.item__logo
                    img(src="img/icons/bas-com-logo.gif",alt="frame")
        div.brands__column
            div.brands__content.block
                div.block__icon 
                    img(src="img/icons/frame.gif",alt="link")
                h2.block__title brands OLIVA
                div.block__text.block__text_j Lorem Ipsumard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled io nisi necessitatibus magni corrupti cum dolorem doloribus voluptatibus quidem.
            div.brands__image.ibg
                img(src="img/sedlo.gif",alt="") 
