
section#generation.generation
	div.container
		div.generation__block.block
			div.block__icon 
				img(src="img/icons/link.gif",alt="link") 
			h1.block__title A NEW GENERATION OF VINTAGE BIKE
			div.block__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla veniam esse molestiae, quibusdam pariatur provident quo mollitia quaerat quam eos. Vero hic cum amet nulla enim commodi ad natus harum.



