section#link.link
    .container
        .link__row    
            .link__icon
                img(src="img/icons/logo.gif",alt="")
            .link__title Stay on the saddle! 
            .link__form.link-1
                .link-1__body
                    form.link-1__form(action='')
                        .link-1__form_input
                            input(type='text' name='username'   placeholder='Введитe логин')
                        .link-1__form_submit
                            input(type='submit' name='submit' value='ok')

