
section.brands.brands__last
    div.brands__row
        
        div.brands__column
            a.brands__item.item(href="#")
                span.item__image.ibg
                    img(src="img/layer-15.gif",alt="frame") 

                span.item__logo
                    img(src="img/icons/logo3.gif",alt="frame")

        div.brands__column
            div.brands__content.block
                div.block__icon 
                    img(src="img/icons/ikon-vilka.gif",alt="link")
            
                h2.block__title retrò Bike - M. Hulot
                    
                div.block__text.block__text_j Lorem Ipsumard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled io nisi necessitatibus magni corrupti cum dolorem doloribus voluptatibus quidem.
            div.brands__image.ibg                                      
                img(src="img/layer-16.gif",alt="") 

        div.brands__column
            a.brands__item.item(href="#")
                span.item__image.ibg
                    img(src="img/layer-17.gif",alt="frame") 

                span.item__logo
                    img(src="img/icons/logo3.gif",alt="frame")
 
 
        