section#shop.shop
    .shop__row
        .column
            .fon
                a(href="#").fon__element.fon__element_small
                    span.fon__img.ibg
                        img(src="img/chear-leaf.gif",alt="") 
                    span.fon__logo
                        img(src="img/icons/bas-com-logo.gif",alt="frame")
                
                a(href="#").fon__element.fon__element_large
                    span.fon__img.ibg
                        img(src="img/chears.gif",alt="") 
                    span.fon__logo
                        img(src="img/icons/bas-com-logo.gif",alt="frame")
            .fon    
                a(href="#").fon__element.fon__element_low
                    span.fon__img.ibg
                        img(src="img/big-chear.gif",alt="") 
                    span.fon__logo
                        img(src="img/icons/bas-com-logo.gif",alt="frame")
        .column.column__vertical
                a(href="#").fon__element.fon__element_center
                    span.fon__img.ibg
                        img(src="img/layer-22.gif",alt="") 
                    span.fon__logo
                        img(src="img/icons/bas-com-logo.gif",alt="frame")
           
        .column.column__vertical
                a(href="#").fon__element.fon__element_center
                    span.fon__img.ibg
                        img(src="img/layer-25.gif",alt="") 
                    span.fon__logo
                        img(src="img/icons/bas-com-logo.gif",alt="frame")
        .column    
            .fon    
                a(href="#").fon__element.fon__element_low
                    span.fon__img.ibg
                        img(src="img/interer.gif",alt="") 
                    span.fon__logo
                        img(src="img/icons/bas-com-logo.gif",alt="frame")
            .fon    
                a(href="#").fon__element.fon__element_small
                    span.fon__img.ibg
                        img(src="img/chear_treval.gif",alt="") 
                    span.fon__logo
                        img(src="img/icons/bas-com-logo.gif",alt="frame")
                
                a(href="#").fon__element.fon__element_large
                    span.fon__img.ibg
                        img(src="img/bag.gif",alt="") 
                    span.fon__logo
                        img(src="img/icons/bas-com-logo.gif",alt="frame")
    .shop__footer
        a.shop__btn(href="#")
                span DISCOVER THE SHOP


