
.header {
  position: absolute;
  width: 100%;
  z-index: 5;
  top: 35px;
  left: 0px;

  &__row {
    @include jucc();
    @include alic();
    height: 85px;
  }
}

.menu-list {
  height: 100%;
}

// --------------ul----------------------------------
.menu__list {
  @include jucc();

  li {
    position: relative;
    padding: 0px 37.5px;

    &:nth-child(2) {
      padding: 0px 110px 0px 37.5px;
    }

    &:nth-child(3) {
      padding: 0px 37.5px 0px 110px;
    }

    &:after {
      content: "";
      width: 2px;
      height: 2px;
      background-color: $slate-grey;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0px;
      margin-top: -2px 0px 0px 0px;
    }

    &:first-child,
    &:nth-child(3) {
      &:after {
        display: none;
      }
    }
  }
}

// -------------------a    ----------------------------------------
.menu__link {
  @include Text-Style;
  position: relative;
}

// // --------------------------------------------------------
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  @include tr(-50%, 0px, 0px);
}

// =====================@media (max-width: 767px)=====================================
// // -----------------------------------------------------
.menu {
  @media (max-width: 767px) {
    opacity: 0.9;
  z-index: 5000;
  position: relative;
    &__body {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background-color: $slate-grey;
      padding: 150px 0px 0px 0px;
      overflow: auto;
      @include tr(0px, -100%, 0px);
      @include anim(0.3s);

      &.active {
        @include tr(0px, 0px, 0px);
      }
    }

    &__list {
      @include jucc();
      @include alic();
      @include fdc();

      li {
        padding: 0px 0px 45px 0px;

        &:nth-child(2),
        &:nth-child(3) {
          padding: 0px 0px 45px 0px;

          &:after {
            display: block;
          }
        }

        &:first-child {
          &:after {
            display: block;
          }
        }

        &:last-child {
          padding: 0;

          &:after {
            display: none;
          }
        }

        &:after {
          display: block;
          width: 3px;
          height: 3px;
          background-color: #fff;
          left: 50%;
          top: 50px;
          margin: 0px -2px 0px 0px;
        }
      }
    }

    &__link {
      color: #fff;
      font-size: 20px;
    }
  }
}

.lock {
  overflow: hidden;
}

// --------бургер---------------------

.icon-menu {
  @media (max-width: 767px) {
    display: block;
    position: fixed;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  z-index: 5000;
  
    span {
      top: 8;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      @include anim(0.3s);
      &:first-child {
        top: 8px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        @include scale(0);
        background-color: #fff;
        &:first-child {
          @include rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          @include rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}
